@font-face {
    font-family: "SpaceMono-Bold", monospace;
    src: url(../../fonts/Space_Mono/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: "LexendDeca-Bold", sans-serif;
    src: url(../../fonts/Lexend_Deca/LexendDeca-Bold.ttf);
}